extends layout

block content
  .container-fluid.sticky-top.top-nav
    .row.align-middle
      .col-4(id="back-btn")
        h5 < Back
      .col-4.text-center
        h5 Detected
      .col-4.text-right(id="confirm-btn")
        h5 Confirm

  .container-fluid.item-list
    .row.item
      .col-4
        img.item-pic(src="images/bag.jpg")
      .col-8
        .row.px-1.mb-2 iPad Pro
        .row.px-1
          .col.p-0.item-meta-text Electronic
          .col.p-0.text-right.item-meta-text Dec, 1, 2019
        .row.px-1 Description: An used iPad pro 2017
    .row.item
      .col-4
        img.item-pic(src="images/bag2.jpg")
      .col-8
        .row.px-1.mb-2 Headset
        .row.px-1
          .col.p-0.item-meta-text Electronic
          .col.p-0.text-right.item-meta-text Dec, 1, 2019
        .row.px-1 Description: An used Sony MDR-1000x headset with active noise cancelling.
    .row.item
      .col-4
        img.item-pic(src="images/pen.jpg")
      .col-8
        .row.px-1.mb-2 Headset
        .row.px-1
          .col.p-0.item-meta-text Electronic
          .col.p-0.text-right.item-meta-text Dec, 1, 2019
        .row.px-1 Description: An used Sony MDR-1000x headset with active noise cancelling.
    .row.item
      .col-4
        img.item-pic(src="images/drone.jpg")
      .col-8
        .row.px-1.mb-2 Headset
        .row.px-1
          .col.p-0.item-meta-text Electronic
          .col.p-0.text-right.item-meta-text Dec, 1, 2019
        .row.px-1 Description: An used Sony MDR-1000x headset with active noise cancelling.

  script
    include ../public/javascripts/confirm.js

