extends layout

block content
  .container-fluid.sticky-top.top-nav
    .row.align-middle
      .col-4(id="back-btn")
        h5 < Back
      .col-4.text-center
        h5 Detected
      .col-4.text-right(id="confirm-btn")
        h5 Confirm

  .container-fluid.item-list


  script
    include ../public/javascripts/confirm.js

