extends layout

block content
  .container-fluid.brand
    h3 Sharity
  .container-fluid.sticky-top.top-nav
    .row.align-middle
      .col
        h5 Posted Items
      .col.text-right(id="add-new-btn")
        h5 Add New

  .container-fluid.item-list

  .container-fluid.fixed-bottom.bottom-nav
    .row
      .col(id="home-btn")
        .row.justify-content-center
          i.material-icons home
        .row.justify-content-center Home
      .col(id="post-btn")
        .row.justify-content-center
          i.material-icons add
        .row.justify-content-center Post
      .col(id="account-btn")
        .row.justify-content-center
          i.material-icons face
        .row.justify-content-center Account

  script(type='text/javascript').
    const data = !{JSON.stringify(data)}
    const data1 = !{JSON.stringify(data1)}
  script
    include ../public/javascripts/common.js
    include ../public/javascripts/post.js