extends layout

block content
  .container-fluid.brand
    h3 Sharity
  .container-fluid.sticky-top.top-nav
    .row.align-middle
      .col
        h5 My Posts
      .col.text-right(id="add-new-btn")
        h5 Post +

  .container-fluid.item-list

  .container-fluid.fixed-bottom.bottom-nav
    .row
      .col(id="home-btn")
        .row.justify-content-center
          i.material-icons home
        .row.justify-content-center Home
      .col(id="post-btn")
        .row.justify-content-center
          i.material-icons list
        .row.justify-content-center My Posts
      .col(id="account-btn")
        .row.justify-content-center
          i.material-icons face
        .row.justify-content-center Account

  script(type='text/javascript').
    const data = !{JSON.stringify(data)}
    const currentUser = !{JSON.stringify(currentUser)}

  script
    include ../public/javascripts/common.js
    include ../public/javascripts/post.js
