body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

a {
  color: #00B7FF;
}

.bottom-nav {
  background-color: #50e4ff;
  color: #fafafa;
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand {
  background-color: #50e4ff;
  color: #fafafa;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-nav {
  background-color: #b0eeff;
  color: #fafafa;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-list {
  padding-bottom: 80px;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #b0eeff;
  border-width: 3px;
  border-style: solid;
}

.item.selected {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #b0eeff;
  color: #fafafa;
  background-color: #b0eeff;
  border-width: 3px;
  border-style: solid;
}

.item-pic {
  max-height: 100px;
}

.item-meta-text {
  background-color: #50e4ff;
  color: #fafafa;
}

#camera-icon {
  color: #50e4ff;
  font-size: 60px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -30px;
}

#camera-icon:active {
  color: #00cdff;
}

.scan-pic {
  margin-top: 52px;
  max-width: 100%;
}

.loading-mask{
  padding: 0 0 0 0;
  height: 615px;
  width: 100%;
  position: absolute;
  opacity: 80%;
  top: 52px;
  left: 0;
  background-color: azure;
}

.loading-mask > .spinner-border {
  font-size: 20px;
  color: #00B7FF;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -18px;
}

.single-item-pic {
  padding: 20px 0 20px 0;
  background-color: #b0eeff;
}

.single-item-desc-row {
  background-color: #fafafa;
  color: #00cdff;
  padding-top: 6px;
  padding-bottom: 1px;
  margin-top: 6px;
}

.single-item-desc-row-label {
  background-color: #00cdff;
  color: #fafafa;
}

.single-item-request-btn {
  background-color: #00cdff;
  color: #fafafa;
}

.single-item-request-btn:active {
  background-color: #fafafa;
  color: #00cdff;
}

.single-item-request-btn:link {
  background-color: #fafafa;
  color: #00cdff;
}

.single-item-request-btn:visited {
  background-color: #b0eeff;
  color: #fafafa;
}

.single-item-request-btn:hover {
  background-color: #b0eeff;
  color: #fafafa;
}

.single-item-request-btn:disabled {
  background-color: rgba(115, 118, 113, 0.23);
  color: #000000;
}
